#something{
    color :red;
}
#trivia{
    color :black
}
.center{
    text-align: center

}
.square {
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    font-size: 150%;
    border-top: 1px solid black;
    border-right: 1px solid black;
 }
 .squares {
    height: 50px;
    width: 50px;
    background-color: white;
    border: solid black;
    text-align: center;
    font-size: 150%;

 }
  ._h_tml {
      font-size: 45%;
      text-align: left;
  }

 .grid {
   display: grid;
   grid-auto-rows: 50px;
   grid-auto-columns: 50px;
 }

 .x {
     
    text-align: center;
 }
.v {
    text-align: center;
}
 .gridTest {
    display: grid;
    grid-auto-rows: 50px;
    grid-auto-columns: 50px;
    padding-left: 300px;
    grid-gap: 1px;
  }
  #text-display {
      color: lightslategray;
  }
 #text-display {grid-area: 2/22/3/40}

  ._h_tml { grid-area: 1 / 1 / 2 / 2; }
 .h_t_ml { grid-area: 2 / 1 / 3 / 2; }
 .ht_m_l { grid-area: 3 / 1 / 4 / 2; }
 .htm_l_ { grid-area: 4 / 1 / 5 / 2; }
 .m_a_in-jss { grid-area: 3 / 2 / 4 / 3; }
 .ma_i_n-jss { grid-area: 3 / 3 / 4 / 4; }
 .mai_n_-jss { grid-area: 3 / 4 / 4 / 5; }
 .main_-_jss { grid-area: 3 / 5 / 4 / 6; }
 .main-_j_ss { grid-area: 3 / 6 / 4 / 7; }
 .main-j_s_s { grid-area: 3 / 7 / 4 / 8; }
 .main-js_s_ { grid-area: 3 / 8 / 3 / 9; }
 .n_a_v { grid-area: 4 / 4 / 5 / 5; }
 .na_v_ { grid-area: 5 / 4 / 6 / 5; }
 ._c_ss { grid-area: 2 / 8 / 3 / 9; }
 .cs_s_ { grid-area: 4 / 8 / 5 / 9; }
 .s_t_yle { grid-area: 4 / 9 / 5 / 10; }
 .st_y_le { grid-area: 4 / 10 / 5 / 11; }
 .sty_l_e { grid-area: 4 / 11 / 5 / 12; }
 .styl_e_ { grid-area: 4 / 12 / 5 / 13; }
 .j_a_vascript { grid-area: 4 / 6 / 5 / 7; }
 .ja_v_ascript { grid-area: 5 / 6 / 6 / 7; }
 .jav_a_script { grid-area: 6 / 6 / 7 / 7; }
 .java_s_cript { grid-area: 7 / 6 / 8 / 7; }
 .javas_c_ript { grid-area: 8 / 6 / 9 / 7; }
 .javasc_r_ipt { grid-area: 9 / 6 / 10 / 7; }
 .javascr_i_pt { grid-area: 10 / 6 / 11 / 7; }
 .javascri_p_t { grid-area: 11 / 6 / 12 / 7; }
 .javascrip_t_ { grid-area: 12 / 6 / 13 / 7; }
 .i_n_dex { grid-area: 10 / 7 / 11 / 8; }
 .in_d_ex { grid-area: 10 / 8 / 11 / 9; }
 .ind_e_x { grid-area: 10 / 9 / 11 / 10; }
 .inde_x_ { grid-area: 10 / 10 / 11 / 11; }
 .p_r_ogramming { grid-area: 11 / 7 / 12 / 8; }
 .pr_o_gramming { grid-area: 11 / 8 / 12 / 9; }
 .pro_g_ramming { grid-area: 11 / 9 / 12 / 10; }
 .prog_r_amming { grid-area: 11 / 10  / 12 / 11; }
 .progr_a_mming { grid-area: 11 / 11 / 12 / 12; }
 .progra_m_ming { grid-area: 11 / 12 / 12 / 13; }
 .program_m_ing { grid-area: 11 / 13 / 12 / 14; }
 .programm_i_ng { grid-area: 11 / 14 / 12 / 15; }
 .programmi_n_g { grid-area: 11 / 15 / 12 / 16; }
 .programmin_g_ { grid-area: 11 / 16 / 12 / 17; }
 .c_o_ding { grid-area: 2 / 9 / 3 / 10; }
 .co_d_ing { grid-area: 2 / 10 / 3 / 11; }
 .cod_i_ng { grid-area: 2 / 11 / 3 / 12; }
 .codi_n_g { grid-area: 2 / 12 / 3 / 13; }
 .codin_g_ { grid-area: 2 / 13 / 3 / 14; }
.text {
    color:blue;
}
/*Solution boxes*/ 
._h_tmls { grid-area: 1 / 1 / 2 / 2; }
.ht_m_ls { grid-area: 3 / 1 / 4 / 2; }
.mai_n_-jsss { grid-area: 3 / 4 / 4 / 5; }
.main-_j_sss { grid-area: 3 / 6 / 4 / 7; }
.cs_s_s { grid-area: 4 / 8 / 5 / 9; }
._c_sss { grid-area: 2 / 8 / 3 / 9; }
.javascr_i_pts { grid-area: 10 / 6 / 11 / 7; }
.javascri_p_ts { grid-area: 11 / 6 / 12 / 7; }
